extends layout

block head

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Make Transactions

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='quantity') Quantity
      .col-md-7
        input.form-control(type='number', name='quantity', id='quantity', max=user.profile.wallet)  
    .form-group.row.d-none
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='quantity') Quantity
      .col-md-7
        input.form-control(type='text', name='userName', id='userName', value=user.profile.name)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Make Trade
