extends layout

block content
  h1(style='text-align: center; color: #0f2d87;') Safe Energy
  p.lead(style='text-align: center;') Energy Trading With Blockchain.
  hr
  .row
    .col-md-12 
      h2 What are we doing
      p(style='font-size: 18px;') Energy transfer is very important in the industry sector. In today's world, these transactions are carried out by third parties. This creates security weaknesses. Thanks to Safe Energy, we eliminate third parties and provide you with a safe energy trading environment with our blockchain infrastructure.